# Entornos virtuales
venv/
.venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de editores (VS Code / PyCharm)
.vscode/
.idea/

# Archivos temporales del sistema
.DS_Store
Thumbs.db